Importing the Dependencies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

Data Collection & Analysis

In [3]:
# loading the data from csv file to a Pandas DataFrame
df=pd.read_csv('C:\\Users\\aaruj\\Downloads\\Hostel_copy.csv')
# first 5 rows of the dataframe
df.head()

,Unnamed: 0,hostel.name,City,price,Distance,summary.score,rating.band,atmosphere,cleanliness,facilities,location,security,staff,valueformoney,lon,lat
0,1,"""Bike & Bed"" CharinCo Hostel",Osaka,3300,2.9km from city centre,9.2,Superb,8.9,9.4,9.3,8.9,9.0,9.4,9.4,135.513767,34.682678
1,2,& And Hostel,Fukuoka-City,2600,0.7km from city centre,9.5,Superb,9.4,9.7,9.5,9.7,9.2,9.7,9.5,NaN,NaN
2,3,&And Hostel Akihabara,Tokyo,3600,7.8km from city centre,8.7,Fabulous,8.0,7.0,9.0,8.0,10.0,10.0,9.0,139.777472,35.697447
3,4,&And Hostel Ueno,Tokyo,2600,8.7km from city centre,7.4,Very Good,8.0,7.5,7.5,7.5,7.0,8.0,6.5,139.783667,35.712716
4,5,&And Hostel-Asakusa North-,Tokyo,1500,10.5km from city centre,9.4,Superb,9.5,9.5,9.0,9.0,9.5,10.0,9.5,139.798371,35.727898

In [4]:
# number of rows and columns
df.shape

(342, 16)

In [5]:
# getting some informations about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     342 non-null    int64
 1   hostel.name    342 non-null    object
 2   City           342 non-null    object
 3   price          342 non-null    int64
 4   Distance       342 non-null    object
 5   summary.score  327 non-null    float64
 6   rating.band    327 non-null    object
 7   atmosphere     327 non-null    float64
 8   cleanliness    327 non-null    float64
 9   facilities     327 non-null    float64
 10  location       327 non-null    float64
 11  security       327 non-null    float64
 12  staff          327 non-null    float64
 13  valueformoney  327 non-null    float64
 14  lon            298 non-null    float64
 15  lat            298 non-null    float64
dtypes: float64(10), int64(2), object(4)
memory usage: 42.9+ KB

In [6]:
# statistical Measures of the dataset
df.describe()

,Unnamed: 0,price,summary.score,atmosphere,cleanliness,facilities,location,security,staff,valueformoney,lon,lat
count,342.000000,3.420000e+02,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,298.000000,298.000000
mean,171.500000,8.388012e+03,8.782569,8.238838,9.011927,8.597554,8.694801,8.947401,9.133333,8.848318,136.756376,34.976583
std,98.871128,7.641527e+04,0.960909,1.382002,1.215775,1.285356,1.102703,1.114345,1.086513,1.047809,3.251995,2.040896
min,1.000000,1.000000e+03,3.100000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,103.873135,1.310820
25%,86.250000,2.000000e+03,8.600000,7.800000,8.800000,8.000000,8.000000,8.700000,9.000000,8.600000,135.505314,34.668900
50%,171.500000,2.500000e+03,9.000000,8.600000,9.300000,9.000000,9.000000,9.200000,9.400000,9.000000,135.761617,34.998470
75%,256.750000,2.900000e+03,9.400000,9.000000,9.800000,9.300000,9.400000,9.600000,9.800000,9.500000,139.770187,35.696709
max,342.000000,1.003200e+06,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,139.877880,36.204824

In [7]:
# checking for missing values
df.isnull().sum()

Unnamed: 0        0
hostel.name       0
City              0
price             0
Distance          0
summary.score    15
rating.band      15
atmosphere       15
cleanliness      15
facilities       15
location         15
security         15
staff            15
valueformoney    15
lon              44
lat              44
dtype: int64

In [8]:
# removing rows with null values
df2=df.dropna(axis=0, how="any")

Splitting the data and target

In [10]:
X=df2.drop(['price','Unnamed: 0','hostel.name','City','Distance','summary.score','rating.band','lon','lat','valueformoney'],axis=1)
Y=df2['valueformoney']

In [11]:
print(X)

     atmosphere  cleanliness  facilities  location  security  staff
0           8.9          9.4         9.3       8.9       9.0    9.4
2           8.0          7.0         9.0       8.0      10.0   10.0
3           8.0          7.5         7.5       7.5       7.0    8.0
4           9.5          9.5         9.0       9.0       9.5   10.0
5           5.5          8.0         6.0       6.0       8.5    8.5
..          ...          ...         ...       ...       ...    ...
337         7.9          7.7         6.9       8.9       8.9    8.8
338         8.6          9.0         7.8       9.4       9.0    9.2
339         9.5          9.3         9.4       8.5       9.5    9.2
340         7.3          8.0         6.7       8.0       8.7   10.0
341         8.1          8.5         7.8       9.0       8.9    9.5

[298 rows x 6 columns]

In [12]:
print(Y)

0      9.4
2      9.0
3      6.5
4      9.5
5      6.5
      ...
337    8.3
338    9.4
339    9.6
340    7.3
341    8.5
Name: valueformoney, Length: 298, dtype: float64

In [13]:
 X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1,random_state=2)

Model Training

Linear Regression

In [14]:
#loading linear regression model
lr_model=LinearRegression()

In [15]:
lr_model.fit(X_train,Y_train)

LinearRegression()

Model Evaluation

In [16]:
#prediction on training data
training_data_pred=lr_model.predict(X_train)

In [17]:
#R squared Error
error_score=metrics.r2_score(Y_train,training_data_pred)

In [18]:
print("R squared Error: ", error_score)

R squared Error:  0.7209703245236188

In [19]:
# prediction on Training data
test_data_pred = lr_model.predict(X_test)

In [21]:
# R squared Error
error_score=metrics.r2_score(Y_test,test_data_pred)
print("R squared Error: ", error_score)

R squared Error:  0.6086731454891389